#app-body {
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#app {
  /* display: none; */
  flex-grow: 0;
}

#app-screen {
  /* width: 80vw;
  height: 60vw; */
  height: 85vh;
  width: calc(85*8/6)vh;
  /* display: none; */
  background-color: #222222;
}

#app-meta {
  display: block;
}

#chat {
  margin-left: 5px;
  width: 100%;
  /* flex-grow: 1; */
}

#chatprofile {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#chatoutput {
  max-height: 70%;
  height: 70%;
  overflow: scroll;
  overflow-wrap: break-word;
}

#chatinput {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#usernamelabel {
  width: 80px;
}

#messagelabel {
  width: 80px;
}

.output-row {
  display: flex;
  flex-direction: row;
}

.output-user-label {
  width: 80px;
  flex: 0 0 33.33%;
}

.output-message-label {
  width: 80px;
}