#app-body {
  /* position: fixed; */
  overflow: hidden;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

#app {
  flex-grow: 1;
}

#app-screen {
  height: 85vh;
  /* calc(85*8/6)vh */
  width: 113vh;
  /* background-color: #222222; */
}

#left-component {
  width: 33.33%;
  flex-grow: 1;
}

#app-meta {
  display: block;
}

#chat {
  margin-left: 5px;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* #chatusername { */
  /* width: 0.33vw; */
/* } */
/* 
#chatprofile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
} */

#chatoutput {
  max-height: 100%;
  overflow: auto;
  overflow-wrap: break-word;
  background-color: #616e7c;
  color: #eeeeee;
  flex-grow: 1;
  margin-top: 5px;
  margin-bottom: 5px;
}

#chatinput {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#usernamelabel {
  width: 100px;
}


input[type=text] {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #f0f4f8;
  box-sizing: border-box;
  background-color: #616e7c;
  border: none;
  border-radius: 2px;
  margin: 5px auto;
  transition:background-color 0.5s ease;
}

#messagelabel {
  width: 100px;
}

#chatmessage {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #616e7c;
  margin: 5px auto;
  color: #f0f4f8;
}

.output-row {
  display: flex;
  flex-direction: row;
}

.output-user-label {
  width: 80px;
  flex: 0 0 33.33%;
}

.output-message-label {
  width: 80px;
}

label {
  color: #f0f4f8;
}

body {
  /* background-color: #121212; */
  background-color: #102a43;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color: #121212;
}
